extends layout

block content
	.container-fluid
		h1 MyMapNow
		br
		br
		.row
			.col-sm-offset-1
				.map-checkbox-form
					form(method="get")
						.col-md-2.form-group
							label 
								input(type="checkbox", class="all-bing", name="", value="")
								|  Load ALL Bing Maps
							br
							br
							label
								input(type="checkbox", class="bing", name="bing", value="Aerial")
								|  Aerial
							br
							label
								input(type="checkbox", class="bing", name="bing", value="Auto")
								|  Auto
							br
							label
								input(type="checkbox", class="bing", name="bing", value="Birdseye")
								|  Birdseye
							br
							label
								input(type="checkbox" class="bing", name="bing", value="CollinsBart")
								|  Collin's Bart
							br
							label
								input(type="checkbox", class="bing", name="bing", value="Mercator")
								|  Mercator
							br
							label
								input(type="checkbox", class="bing", name="bing", value="OrdnanceSurvey")
								|  Ordnance Survey
							br
							label
								input(type="checkbox", class="bing", name="bing", value="Road")
								|  Road
						.col-md-2.form-group
							label
								input(type="checkbox", class="all-esri", name="", value="")
								|  Load ALL ESRI Maps
							br
							br
							label
								input(type="checkbox", class="esri", name="esri", value="gray")
								|  Gray
							br
							label
								input(type="checkbox", class="esri", name="esri", value="hybrid")
								|  Hybrid
							br
							label
								input(type="checkbox", class="esri", name="esri", value="national-geographic")
								|  National Geographic
							br
							label
								input(type="checkbox", class="esri", name="esri", value="oceans")
								|  Oceans
							br
							label
								input(type="checkbox", class="esri", name="esri", value="osm")
								|  Open Street Map
							br
							label
								input(type="checkbox", class="esri", name="esri", value="satellite")
								|  Satellite
							br
							label
								input(type="checkbox", class="esri", name="esri", value="topo")
								|  Topographic
						.col-md-2.form-group
							label
								input(type="checkbox", class="all-google", name="", value="")
								|  Load ALL Google Maps
							br
							br
							label
								input(type="checkbox", class="google", name="google", value="HYBRID")
								|  Hybrid
							br
							label
								input(type="checkbox", class="google", name="google", value="ROAD")
								|  Road
							br
							label
								input(type="checkbox", class="google", name="google", value="SATELLITE")
								|  Satellite
							br
							label
								input(type="checkbox", class="google", name="google", value="TERRAIN")
								|  Terrain
						.col-md-2.form-group
							label
								input(type="checkbox", class="all-mapquest", name="", value="")
								|  Load ALL Mapquest Maps
							br
							br
							label
								input(type="checkbox", class="mapquest", name="mapquest", value="hyb")
								|  Hybrid
							br
							label
								input(type="checkbox", class="mapquest", name="mapquest", value="map")
								|  Map
							br
							label
								input(type="checkbox", class="mapquest", name="mapquest", value="osm")
								|  Open Street Map
							br
							label
								input(type="checkbox", class="mapquest", name="mapquest", value="sat")
								|  Satellite
						.col-md-2.form-group
							label
								input(type="checkbox", class="all-nokia", name="", value="")
								|  Load ALL Nokia Maps
							br
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="NORMAL")
								|  Normal
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="NORMAL_COMMUNITY")
								|  Normal Community
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="SATELLITE")
								|  Satellite
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="SATELLITE_COMMUNITY")
								|  Satellite Community
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="SMARTMAP")
								|  Smartmap
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="SMART_PT")
								|  Smart PT
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="TERRAIN")
								|  Terrain
							br
							label
								input(type="checkbox", class="nokia", name="nokia", value="TRAFFIC")
								|  Traffic
						.col-md-2.form-group
							label
								input(type="checkbox", class="all-maps", name="", value="")
								|  Load ALL 30 Vendor Map Types
							br
							br
							input(button type="submit" class="btn btn-success")
		.row
			.col-sm-offset-1
				for value in bing
					.map-shell.col-md-2
						.map-wrapper
							.map.bing-type(data-options-type=value)
				for value in esri
					.map-shell.col-md-2
						.map-wrapper
							.map.esri-type(data-options-type=value)
				for value in google
					.map-shell.col-md-2
						.map-wrapper
							.map.google-type(data-options-type=value)
				for value in mapquest
					.map-shell.col-md-2
						.map-wrapper
							.map.mapquest-type(data-options-type=value)
				for value in nokia
					.map-shell.col-md-2
						.map-wrapper
							.map.nokia-type(data-options-type=value)
//- 		.map-dropdown Select map type:
//- 			form
//- 				select(name="map-type")
//- 					option(name="bing" value="Aerial") Bing Aerial
//- 					option(name="bing" value="Auto") Bing Auto
//- 					option(name="bing" value="Birdseye") Bing Birdseye
//- 					option(name="bing" value="CollinsBart") Bing Collin"s Bart
//- 					option(name="bing" value="Mercator") Bing Mercator
//- 					option(name="bing" value="OrdnanceSurvey") Bing Ordnance Survey
//- 					option(name="bing" value="Road") Bing Road
//- 					option(name="esri" value="gray") ESRI Gray
//- 					option(name="esri" value="hybrid") ESRI Hybrid
//- 					option(name="esri" value="national-geographic") ESRI National Geographic
//- 					option(name="esri" value="oceans") ESRI Oceans
//- 					option(name="esri" value="osm") ESRI Open Street Map
//- 					option(name="esri" value="satellite") ESRI Satellite
//- 					option(name="esri" value="topo") ESRI Topographic
//- 					option(name="google" value="HYBRID") Google Hybrid
//- 					option(name="google" value="ROAD") Google Road
//- 					option(name="google" value="SATELLITE") Google Satellite
//- 					option(name="google" value="TERRAIN") Google Terrain
//- 					option(name="mapquest" value="hyb") Mapquest Hybrid
//- 					option(name="mapquest" value="map") Mapquest Map
//- 					option(name="mapquest" value="osm") Mapquest Open Street Map
//- 					option(name="mapquest" value="sat") Mapquest Satellite
//- 					option(name="nokia" value="NORMAL") Nokia Normal
//- 					option(name="nokia" value="NORMAL_COMMUNITY") Nokia Normal Community
//- 					option(name="nokia" value="SATELLITE") Nokia Satellite
//- 					option(name="nokia" value="SATELLITE_COMMUNITY") Nokia Satellite Community
//- 					option(name="nokia" value="SMARTMAP") Nokia Smartmap
//- 					option(name="nokia" value="SMART_PT") Nokia Smart PT
//- 					option(name="nokia" value="TERRAIN") Nokia Terrain
//- 					option(name="nokia" value="TRAFFIC") Nokia Traffic
//- 					br
//- 					br
		//- .row
		//- 	.col-md-12
		//- 		.map-radio-form Number of maps: 
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios1(type="radio", name="optionsRadios", value="option1")
		//- 					| 1
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
		//- 					| 2
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios4(type="radio", name="optionsRadios", value="option3")
		//- 					| 3
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios4(type="radio", name="optionsRadios", value="option4")
		//- 					| 4
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios6(type="radio", name="optionsRadios", value="option6")
		//- 					| 6
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios8(type="radio", name="optionsRadios", value="option8")
		//- 					| 8
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios10(type="radio", name="optionsRadios", value="option10")
		//- 					| 10
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios12(type="radio", name="optionsRadios", value="option12")
		//- 					| 12
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios14(type="radio", name="optionsRadios", value="option14")
		//- 					| 14
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios16(type="radio", name="optionsRadios", value="option16")
		//- 					| 16
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios18(type="radio", name="optionsRadios", value="option18")
		//- 					| 18
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios20(type="radio", name="optionsRadios", value="option20")
		//- 					| 20
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios22(type="radio", name="optionsRadios", value="option22")
		//- 					| 22
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios24(type="radio", name="optionsRadios", value="option24")
		//- 					| 24
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios26(type="radio", name="optionsRadios", value="option26")
		//- 					| 26
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios24(type="radio", name="optionsRadios", value="option28")
		//- 					| 28
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios26(type="radio", name="optionsRadios", value="option30")
		//- 					| 30
		//- .row
		//- 	.col-xs-6.col-sm-4.col-md-3.col-lg-2
		//- 		h1 Links to Resources
		//- 			//-bing api Link
		//- 			//-esri
		//- 		  //-google
		//- 		  //-mapquest 
		//- 		  //-nokia http://developer.here.com/javascript-apis