extends layout

block content
	h1 Welcome to MyMapNow.com!
	.container-fluid
		.row
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.map-checkbox-form
					form(method="get")
						div.form-group
							label Load ALL 30 Vendor Maps
								input(type="checkbox", class="all-maps", name="", value="")
						br
						div.form-group
							label Load ALL Bing Maps
								input(type="checkbox", class="all-bing", name="", value="")
						div.form-group
							label Bing Aerial
								input(type="checkbox", class="bing", name="bing", value="Aerial")
						div.form-group
							label Bing Auto
								input(type="checkbox", class="bing", name="bing", value="Auto")
						div.form-group
							label Bing Birdseye
								input(type="checkbox", class="bing", name="bing", value="Birdseye")
						div.form-group
							label Bing Collin's Bart
								input(type="checkbox" class="bing", name="bing", value="CollinsBart")
						div.form-group
							label Bing Mercator
								input(type="checkbox", class="bing", name="bing", value="Mercator")
						div.form-group
							label Bing Ordnance Survey
								input(type="checkbox", class="bing", name="bing", value="OrdnanceSurvey")
						div.form-group
							label Bing Road
								input(type="checkbox", class="bing", name="bing", value="Road")
						br
						div.form-group
							label Load ALL ESRI Maps
								input(type="checkbox", class="all-esri", name="", value="")
						br
						div.form-group
							label ESRI Gray
								input(type="checkbox", class="esri", name="esri", value="gray")
						div.form-group
							label ESRI Hybrid
								input(type="checkbox", class="esri", name="esri", value="hybrid")
						div.form-group
							label ESRI National Geographic
								input(type="checkbox", class="esri", name="esri", value="national-geographic")
						div.form-group
							label ESRI Oceans
								input(type="checkbox", class="esri", name="esri", value="oceans")
						div.form-group
							label ESRI Open Street Map
								input(type="checkbox", class="esri", name="esri", value="osm")
						div.form-group
							label ESRI Satellite
								input(type="checkbox", class="esri", name="esri", value="satellite")
						div.form-group
							label ESRI Topographic
								input(type="checkbox", class="esri", name="esri", value="topo")
						br
						div.form-group
							label Load ALL Google Maps
								input(type="checkbox", class="all-google", name="", value="")
						br
						div.form-group
							label Google Hybrid
								input(type="checkbox", class="google", name="google", value="HYBRID")
						div.form-group
							label Google Road
								input(type="checkbox", class="google", name="google", value="ROAD")
						div.form-group
							label Google Satellite
								input(type="checkbox", class="google", name="google", value="SATELLITE")
						div.form-group
							label Google Terrain
								input(type="checkbox", class="google", name="google", value="TERRAIN")
						br
						div.form-group
							label Load ALL Mapquest Maps
								input(type="checkbox", class="all-mapquest", name="", value="")
						br
						div.form-group
							label Mapquest Hybrid
								input(type="checkbox", class="mapquest", name="mapquest", value="hyb")
						div.form-group
							label Mapquest Map
								input(type="checkbox", class="mapquest", name="mapquest", value="map")
						div.form-group
							label Mapquest Open Street Map
								input(type="checkbox", class="mapquest", name="mapquest", value="osm")
						div.form-group
							label Mapquest Satellite
								input(type="checkbox", class="mapquest", name="mapquest", value="sat")
						br
						div.form-group
							label Load ALL Nokia Maps
								input(type="checkbox", class="all-nokia", name="", value="")
						br
						div.form-group
							label Nokia Normal
								input(type="checkbox", class="nokia", name="nokia", value="NORMAL")
						div.form-group
							label Nokia Normal Community
								input(type="checkbox", class="nokia", name="nokia", value="NORMAL_COMMUNITY")
						div.form-group
							label Nokia Satellite
								input(type="checkbox", class="nokia", name="nokia", value="SATELLITE")
						div.form-group
							label Nokia Satellite Community
								input(type="checkbox", class="nokia", name="nokia", value="SATELLITE_COMMUNITY")
						div.form-group
							label Nokia Smartmap
								input(type="checkbox", class="nokia", name="nokia", value="SMARTMAP")
						div.form-group
							label Nokia Smart PT
								input(type="checkbox", class="nokia", name="nokia", value="SMART_PT")
						div.form-group
							label Nokia Terrain
								input(type="checkbox", class="nokia", name="nokia", value="TERRAIN")
						div.form-group
							label Nokia Traffic
								input(type="checkbox", class="nokia", name="nokia", value="TRAFFIC")
						br
						div.form-group
							input(type="submit")
		.row
			.col-xs-12
				.map-canvas
				.generate-maps
				for value in bing
					div.map.bing(data-options-type=value) #{value}
				for value in esri
					div.map.esri(data-options-type=value) #{value}
				for value in google
					div.map.google-type(data-options-type=value) #{value}
				for value in mapquest
					div.map.mapquest(data-options-type=value) #{value}
				for value in nokia
					div.map.nokia(data-options-type=value) #{value}						
		//- .row
		//- 	.col-xs-6.col-sm-4.col-md-3.col-lg-2
		//- 		.map-dropdown Choose map type:
		//- 			form
		//- 				select(name="map-type")
		//- 					option(name="bing" value="Aerial") Bing Aerial
		//- 					option(name="bing" value="Auto") Bing Auto
		//- 					option(name="bing" value="Birdseye") Bing Birdseye
		//- 					option(name="bing" value="CollinsBart") Bing Collin"s Bart
		//- 					option(name="bing" value="Mercator") Bing Mercator
		//- 					option(name="bing" value="OrdnanceSurvey") Bing Ordnance Survey
		//- 					option(name="bing" value="Road") Bing Road
		//- 					option(name="esri" value="gray") ESRI Gray
		//- 					option(name="esri" value="hybrid") ESRI Hybrid
		//- 					option(name="esri" value="national-geographic") ESRI National Geographic
		//- 					option(name="esri" value="oceans") ESRI Oceans
		//- 					option(name="esri" value="osm") ESRI Open Street Map
		//- 					option(name="esri" value="satellite") ESRI Satellite
		//- 					option(name="esri" value="topo") ESRI Topographic
		//- 					option(name="google" value="HYBRID") Google Hybrid
		//- 					option(name="google" value="ROAD") Google Road
		//- 					option(name="google" value="SATELLITE") Google Satellite
		//- 					option(name="google" value="TERRAIN") Google Terrain
		//- 					option(name="mapquest" value="hyb") Mapquest Hybrid
		//- 					option(name="mapquest" value="map") Mapquest Map
		//- 					option(name="mapquest" value="osm") Mapquest Open Street Map
		//- 					option(name="mapquest" value="sat") Mapquest Satellite
		//- 					option(name="nokia" value="NORMAL") Nokia Normal
		//- 					option(name="nokia" value="NORMAL_COMMUNITY") Nokia Normal Community
		//- 					option(name="nokia" value="SATELLITE") Nokia Satellite
		//- 					option(name="nokia" value="SATELLITE_COMMUNITY") Nokia Satellite Community
		//- 					option(name="nokia" value="SMARTMAP") Nokia Smartmap
		//- 					option(name="nokia" value="SMART_PT") Nokia Smart PT
		//- 					option(name="nokia" value="TERRAIN") Nokia Terrain
		//- 					option(name="nokia" value="TRAFFIC") Nokia Traffic
		//- 					br
		//- 					br
		//- .row
		//- 	.col-md-12
		//- 		.map-radio-form Number of maps: 
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios1(type="radio", name="optionsRadios", value="option1")
		//- 					| 1
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
		//- 					| 2
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios4(type="radio", name="optionsRadios", value="option3")
		//- 					| 3
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios4(type="radio", name="optionsRadios", value="option4")
		//- 					| 4
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios6(type="radio", name="optionsRadios", value="option6")
		//- 					| 6
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios8(type="radio", name="optionsRadios", value="option8")
		//- 					| 8
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios10(type="radio", name="optionsRadios", value="option10")
		//- 					| 10
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios12(type="radio", name="optionsRadios", value="option12")
		//- 					| 12
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios14(type="radio", name="optionsRadios", value="option14")
		//- 					| 14
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios16(type="radio", name="optionsRadios", value="option16")
		//- 					| 16
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios18(type="radio", name="optionsRadios", value="option18")
		//- 					| 18
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios20(type="radio", name="optionsRadios", value="option20")
		//- 					| 20
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios22(type="radio", name="optionsRadios", value="option22")
		//- 					| 22
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios24(type="radio", name="optionsRadios", value="option24")
		//- 					| 24
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios26(type="radio", name="optionsRadios", value="option26")
		//- 					| 26
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios24(type="radio", name="optionsRadios", value="option28")
		//- 					| 28
		//- 			.radio-inline
		//- 				label
		//- 					input#optionsRadios26(type="radio", name="optionsRadios", value="option30")
		//- 					| 30